.gameItem {
	border-radius: 20px;
	margin: 25px 0px;
	position: relative;
	transition: all 0.3s ease-in-out;
	display: flex;
}

.gameItem:hover {
	box-shadow: 0px 0px 12px #ccc;
}

.gameItem img {
	object-fit: cover;
	width: 30%;
	background-color: #a4a4a4;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.gameItem .info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 15px;
	padding: 15px 0px;
	gap: 15px;
}

.gameItem .info p,
.gameItem .info h3 {
	color: white;
	margin: 0px;
}

.gameItem .info h3 {
	font-weight: 500;
}

.gameItem .info a {
	color: white;
	text-decoration: none;
}

.gameItem .star {
	position: absolute;
	top: 5%;
	right: 2%;
	width: 30px;
	height: 30px;
	background-color: inherit;
	cursor: pointer;
}

@media (max-width: 425px) {
	.gameItem {
		display: flex;
		flex-direction: column;
	}

	.gameItem img {
		width: 100%;
		height: 250px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 0px;
	}

	.gameItem .star {
		top: 3%;
		right: 3%;
	}
}

@media (min-width: 1024px) {
	.gameItem {
		width: 31%;
		margin: 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.gameItem img {
		object-fit: cover;
		width: 100%;
		height: 60%;
		background-color: #a4a4a4;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 0px;
	}

	.gameItem .star {
		top: 3%;
		right: 4%;
	}
}
