.gameItem {
	margin: 20px 0px;
	border-radius: 20px;
	background-color: var(--color-blue);
	position: relative;
}

.gameItem > div {
	display: flex;
}

.gameItem > div img {
	object-fit: cover;
	width: 30%;
	background-color: #a4a4a4;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.gameItem .info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 15px;
	padding: 15px 0px;
	gap: 15px;
}

.gameItem .info p,
.gameItem .info h3 {
	color: white;
	margin: 0px;
}

.gameItem .info h3 {
	font-weight: 500;
}

.gameItem .info a {
	color: white;
	text-decoration: none;
}

.gameItem .star {
	position: absolute;
	top: 5%;
	right: 2%;
	width: 25px;
	height: 25px;
	background-color: inherit;
	cursor: pointer;
}
