.gameItem {
	margin: 10px 0px;
	border-radius: 10px;
	background-color: #0078f0;
}

.gameItem > div {
	display: flex;
}

.gameItem > div img {
	object-fit: cover;
	width: 30%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.gameItem .info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 15px;
}

.gameItem .info p {
	color: white;
}

.gameItem .info p.italic {
	font-style: italic;
}
