.gamesList {
	margin-top: 15px;
}

.gamesList > div:first-child {
	margin-top: 0px;
}

@media (min-width: 1024px) {
	.gamesList {
		display: flex;
		flex-wrap: wrap;
		gap: 25px;
		justify-content: space-between;
		margin: 15px 0px;
	}
}
