.blockSearchContent {
	display: flex;
	margin: 20px 0px;
	justify-content: space-between;
	align-items: stretch;
}

.search {
	width: 65%;
	display: flex;
	justify-content: center;
}

.search input {
	width: 100%;
	padding: 10px 10px;
}
