.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 0px;
}

.navigation a {
	text-align: center;
	text-decoration: none;
	color: #a4a4a4;
	margin: 10px 20px;
}

.navigation a.active {
	color: var(--color-blue);
}

@media (max-width: 425px) {
	.navigation {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
