.slider {
	background-color: var(--color-gray);
	border-radius: 20px;
	position: relative;
	margin: 20px auto;
	width: 75%;
}

.slider .screenshot {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	display: block;
}

.slider button {
	position: absolute;
	background-color: transparent;
	color: white;
	border: none;
	cursor: pointer;
}

.slider button img {
	width: 50%;
}

.slider .prev {
	top: 0%;
	bottom: 0%;
	left: 0%;
}

.slider .next {
	top: 0%;
	bottom: 0%;
	right: 0%;
}

.slider .ageLimit {
	position: absolute;
	bottom: 5%;
	right: 3%;

	background-color: var(--color-blue);
	color: white;
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 30px;
	height: 30px;
	padding: 10px;
	font-size: 20px;

	border-radius: 50%;
}

@media (min-width: 425px) and (max-width: 1024px) {
	.slider {
		width: 100%;
	}
}

@media (max-width: 425px) {
	.slider {
		width: 100%;
		margin-bottom: 55px;
	}

	.slider button {
		background-color: transparent;
		color: white;
		border: none;
		cursor: pointer;
	}

	.slider button img {
		width: 40%;
	}

	.slider .prev {
		top: 110%;
		left: 0%;
	}

	.slider .next {
		top: 110%;
		right: 0%;
	}

	.slider .ageLimit {
		width: 20px;
		height: 20px;
		font-size: 16px;
	}
}
