.filters {
	display: flex;
	flex-direction: column;
	width: 31%;
}

.filters h2 {
	font-weight: 500;
	color: var(--color-blue);
	margin: 10px;
	align-self: center;
}

.virtualFiltersList {
	overflow-y: scroll;
}
