.filters {
	display: flex;
	flex-direction: column;
	width: 20%;
}

.filters h2 {
	font-weight: 500;
	color: var(--color-blue);
	margin: 10px;
	align-self: center;
}

.virtualFiltersList {
	overflow-y: scroll;
}

.virtualFiltersList::-webkit-scrollbar {
	width: 6px;
}

.virtualFiltersList::-webkit-scrollbar-thumb {
	background: rgb(0, 120, 240);
	border-radius: 4px;
}

.virtualFiltersList::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) and (max-width: 1024px) {
	.filters {
		width: 31%;
	}
}

@media (min-width: 480px) and (max-width: 768px) {
	.filters {
		width: 45%;
	}
}

@media (max-width: 480px) {
	.filters {
		width: 100%;
	}
}
