.filters {
	display: flex;
	flex-direction: column;
	width: 31%;
}

.filters h2 {
	font-weight: 500;
	color: var(--color-blue);
	margin: 10px;
	align-self: center;
}

.virtualFiltersList {
	overflow-y: scroll;
}

.virtualFiltersList::-webkit-scrollbar {
	width: 6px;
}

.virtualFiltersList::-webkit-scrollbar-thumb {
	background: rgb(0, 120, 240);
	border-radius: 4px;
}

.virtualFiltersList::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}
