.gamesKeywords {
	display: grid;
	margin: 40px 0px 0px;
	grid-auto-rows: 20px 50px 300px;
}

.gamesKeywords h3 {
	color: white;
	margin: 0px;
}

.gamesKeywords p {
	color: var(--color-gray);
	font-style: italic;
}

.tags li,
.genres li {
	margin-bottom: 10px;
	color: var(--color-gray);
	font-style: italic;
}

.tags li::marker,
.genres li::marker {
	color: white;
}

.titleGenres {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.titleTags {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.genres {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.tags {
	grid-column: 2 / 3;
	grid-row: 2 / 4;
	column-count: 2;
}

.achievements {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}
