:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
	margin: 0;
	background-color: var(--color-background-dark);
	--color-blue: #0078f0;
	--color-gray: #a4a4a4;
	--color-background-dark: #272727;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 85%;
}
