.paginator {
	margin-bottom: 10px;
}

.paginator button {
	background-color: inherit;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 14px;
}

.paginator button:hover:not(.active) {
	color: #ccc;
}

.paginator .active {
	background-color: inherit;
	border: none;
	color: var(--color-blue);
}

@media (max-width: 425px) {
	.paginator button {
		font-size: 16px;
	}
}
